pkgbase = upplay
	pkgdesc = A Qt5 based UPnP audio Control point
	pkgver = 1.2.11
	pkgrel = 1
	url = http://www.lesbonscomptes.com/upplay/
	arch = x86_64
	license = GPL2
	makedepends = qt5-script
	depends = libupnpp>=0.15.3
	depends = qt5-webkit
	depends = hicolor-icon-theme
	provides = upplay
	conflicts = upplay
	conflicts = upplay-git
	source = https://www.lesbonscomptes.com/upplay/downloads/upplay-1.2.11.tar.gz
	md5sums = 8d141b1b6de321b4700aa0b642181f42

pkgname = upplay

